/* 

SUHDO FX STYLES
Provides fully css effects
by suhdo.com

*/

/* RESET HTML */


*,html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background-color: transparent;
	line-height:1.3;
	border:none;
	text-decoration:none;
}
p{	line-height:1.2;
}
label{  display:inline-block; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* form elements */
input,select,textarea,button{ padding:0; margin:0; box-sizing:border-box;  }


*::-webkit-selection { background:rgba(0,0,0,0.05);   color:inherit;   }
*::-moz-selection { background:rgba(0,0,0,0.05);   color:inherit;   }
*::selection { background:rgba(0,0,0,0.05);  color:inherit;   }

input::-webkit-selection { background:blue;  color:#fff; }
input::-moz-selection { background:blue;  color:#fff; }
input::selection { background:blue; color:#fff;   }

*[placeholder]{ color:#ccc; }

.t{ font-weight:normal; font-style:normal; } 
.r{ font-weight:normal; } 
.b{ font-weight:bold; } 
.i{ font-style: italic; }
.o{ font-style: oblique; }
.s,.underline,.u{ text-decoration:underline; }

.uppercase{ text-transform:uppercase; }
.lowercase{ text-transform:lowercase; }
.capitalize{ text-transform:capitalize; }

.paragraph{ font-size:9px; }
.title{ font-size:20px; }
.paragraph{ font-size:13px; }
.legend{ font-size:9px; }
.word-wrap{ word:wrap; }
.font-extra{ font-size:49px; }
.font-giant{ font-size:29px; }
.font-big{ font-size:21px; }
.font-medium{ font-size:14px; }


.align-top{ vertical-align:top; display:table-cell; }
.align-middle{ vertical-align:middle; display:table-cell; }
.align-bottom{ vertical-align:bottom; display:table-cell; }

.align-left{ text-align:left; }
.align-right{ text-align:right; }
.align-center{ text-align:center; }
.justify{ text-align:justify; }
.tab{ text-align:left; padding-left:5px; }
.tab10{ text-align:left; padding-left:10px; }
.tab20{ text-align:left; padding-left:20px; }

.word-wrap{ word-wrap: break-word; }
.font-extra{ font-size:49px; }
.font-giant{ font-size:29px; }
.font-big{ font-size:21px; }
.font-medium{ font-size:14px; }


/* system utils */
input[type=search]{ padding:10px; background-image:url(default/img/search.png); background-position:7px; padding-left:35px;  background-repeat:no-repeat;}

.talk{ display:none; margin:0; padding:10px 10px 10px 45px; background-image:url(default/img/talk.png); background-position:10px 4px; background-repeat:no-repeat;  postition:relative; background-color:#FFFACD; color:#000; -moz-border-radius:5px ; -o-border-radius:5px ; -webkit-border-radius:5px ; border-radius:5px; box-shadow:0 0 4px #555; -o-box-shadow:0 0 4px #555; -webkit-box-shadow:0 0 4px #555; -moz-box-shadow:0 0 4px #555; }
.clear{clear:both;}
.opaque{ opacity:0.5; -webkit-opacity:0.5;  -o-opacity:0.5;  -moz-opacity:0.5; }
.disabled{ cursor:default; }
.shadowed{  box-shadow:2px 2px 3px rgba(0,0,0,0.3); -o-box-shadow:2px 2px 3px rgba(0,0,0,0.5); -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.25); -moz-box-shadow:2px 2px 3px rgba(0,0,0,0.5);  }
.shadowed-mirror{  box-shadow:-2px -2px 3px rgba(0,0,0,0.5); -o-box-shadow:2px 2px 3px rgba(0,0,0,0.5); -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.5); -moz-box-shadow:2px 2px 3px rgba(0,0,0,0.5); box-shadow:4px -1px 3px rgba(0,0,0,0.5); }
.shaded{ box-shadow:0px 0px 3px rgba(0,0,0,0.30); -o-box-shadow:0px 0px 3px rgba(0,0,0,0.30); -webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.30); -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.30); }

.deg45{ -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg);  transform:rotate(45deg); }
.deg90{ -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg);  transform:rotate(90deg); }

.inset-shadow{  box-shadow: inset 0px 0px 7px #777; -o-box-shadow: inset 0px 0px 5px #777; -webkit-box-shadow: inset 0px 0px 5px #777; -moz-box-shadow:inset 0px 0px 5px #777; }

.text-glow{ -webkit-text-shadow: #ccc 0px 0px 2px; -moz-text-shadow: #ccc 0px 0px 2px; text-shadow: #ccc 0px 0px 2px; }
.text-shadow{ -webkit-text-shadow: rgba(0,0,0,0.2) 1px 1px 2px; -moz-text-shadow: rgba(0,0,0,0.2) 1px 1px 2px; text-shadow: rgba(0,0,0,0.2) 1px 1px 2px; }
.text-carved{ -webkit-text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(100,100,100,0.2); -moz-text-shadow:-1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(100,100,100,0.2); text-shadow:-1px -1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(100,100,100,0.1); }
.text-shaded{ -webkit-text-shadow: 0px 0px 2px rgba(0,0,0,0.2); -moz-text-shadow:0px 0px 2px rgba(0,0,0,0.2); text-shadow:0px 0px 2px rgba(0,0,0,0.25); }

.hover{ opacity:1;   }
.hover:hover{ opacity:0.75; }
.hover.selected:hover{ background-color:#fff;}

.rounded{ border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;  }

.bottom-rounded{ border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px;  }
.bottom-left-rounded{ border-radius:0 0 0 3px; -o-border-radius:0 0 0 3px; -webkit-border-radius:0 0 0 3px; -moz-border-radius:0 0 0 3px;  }
.top-rounded{ border-radius:3px 3px 0 0 ; -o-border-radius:3px 3px 0 0 ; -webkit-border-radius:3px 3px 0 0 ; -moz-border-radius:3px 3px 0 0 ;  }
.top-left-rounded{ border-radius:3px 0 0 0 ; -o-border-radius:3px 0 0 0 ; -webkit-border-radius:3px 0 0 0 ; -moz-border-radius:3px 0 0 0 ;  }
.left-rounded{ border-radius:3px 0 0 3px; -o-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px;  }
.right-rounded{ border-radius:0 3px 3px 0; -o-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0;  }

.drop-rounded{ border-radius:3px ; -o-border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;  }
.input-rounded{ border-radius:3px ; -o-border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;  }

/*
.blur{ filter: blur(5px);  -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px);  }
.blur-soft{ filter: blur(2px); -webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px);   }
.blur-hard{ filter: blur(10px); -webkit-filter: blur(10px); -moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px);   }
*/

.transparent{opacity: 0; -o-opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -webkit-opacity:0;   }
.erase-rounds{ border-radius:0; -o-border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;  }
.erase-shadows{ box-shadow:0; -o-box-shadow:0; -webkit-box-shadow:0; -moz-box-shadow:0;  }
.limits{ border:1px solid #ccc;}


.padding-super{ padding:50px; }
.padding{ padding:10px; }

.padding-left{ padding-left:10px; }
.padding-right{ padding-right:10px; }
.padding-top{ padding-top:10px; }
.padding-bottom{ padding-bottom:10px; }

.padding5-left{ padding-left:5px; }
.padding5-right{ padding-right:5px; }
.padding5-top{ padding-top:5px; }
.padding5-bottom{ padding-bottom:5px; }

.padding5{ padding:5px; }
.padding2{ padding:2px; }

.margin5{ margin:5px; }
.margin2{ margin:2px; }
.margin-auto{ margin:0 auto; }
.margin-negative{ margin:-10px; }
.margin5-negative{ margin:-5px; }
.margin{ margin:10px; }

.margin-right{ margin-right:10px; }
.margin-left{ margin-left:10px; }
.margin-top{ margin-top:10px; }
.margin-bottom{ margin-bottom:10px; }

.margin5-right{ margin-right:5px; }
.margin5-left{ margin-left:5px; }
.margin5-top{ margin-top:5px; }
.margin5-bottom{ margin-bottom:5px; }

.marginy5{ margin:5px 0 5px 0; }
.marginx5{ margin:0 5px 5 5px; }

.auto-align{ margin:0 auto;}
.clear-properties{ padding:0; background-image:none; margin:0; clear:both; }

.inline{ display:inline-block; }
.block{ display:block; }
.table-row{ display:table-row; }

.relative{ position:relative; }
.fixed{ position:fixed; }
.absolute{ position:absolute;  }

.fixed-bottom-right{ position:fixed; bottom:0; right:0; }
.fixed-bottom-left{ position:fixed; bottom:0; left:0;  }
.fixed-top-right{ position:fixed; top:0; right:0;  }
.fixed-top-left{ position:fixed; top:0; left:0;  }

.absolute-bottom-right{ position:absolute; bottom:0; right:0; z-index:1; }
.absolute-bottom-left{ position:absolute; bottom:0; left:0; z-index:1; }
.absolute-top-right{ position:absolute; top:0; right:0; z-index:1; }
.absolute-top-left{ position:absolute; top:0; left:0; z-index:1; }

.z-1{ z-index:1; }
.z-10{ z-index:10; }
.z-20{ z-index:20; }
.on-top{ z-index:101; }

.float { }
.float-left { float:left; }
.float-right { float:right; }
.float-center { float:center; }

.break{ clear:both; }
.tile{ display:block; }

.overflow,.scroll{ overflow:visible; }
.overflow-hidden,.no-scroll{ overflow:hidden; }
.overflow-auto,.auto-scroll{ overflow:auto; }

.invisible{ display:none; }
.hidden{ display:none; }
.fullscreen{  position:fixed; left:0; top:0; z-index:1000; width:100%; height:100%; overflow:auto; }
.fullscreen-relative{ position:absolute; left:0; top:0; z-index:100; width:100%; height:100%; overflow:auto; }
.subjugate-bottom{ position:fixed; right:0; bottom:0; z-index:100; }

.cursor-pointer{ cursor:pointer; }
.cursor-pointer * {cursor:pointer; }
.cursor-default{ cursor:default; }
.cursor-text{ cursor:text; }


/* dinamics structures */
.half-box{ width:45%;   height:auto; }
.half-box:first-child{ margin-right:5px; }

.one-third-box{ width:730px;   height:auto;   margin-right:5px; }
.quarter-box{ width:233px;  *width:232px; height:auto; margin:0; margin-bottom:5px; margin-right:5px; position:relative;  }

.area .quarter-box:last-child{ margin-right:0;  }
.area-3to1 .quarter-box{ margin-right:0; }
.area-half .quarter-box{ margin-right:0; }


/* RESPONSIVE STYLE */

.tiles-container{ }
.tiles-container.screen-full{width:100%; margin:0 0 0 0; paddin:0 0 0 0;  }
.tiles-container.screen-1280{width:1200px; margin:0 auto; paddin:0 0 0 0;  }
.tiles-container.screen-1024{width:990px; margin:0 auto; paddin:0 0 0 0;  }

.tiles{ margin:0 0 0 0; paddin:0 0 0 0;  }
.size-10{ margin:0 0 0 0; paddin:0 0 0 0; width:10%; float:left; }
.size-20{ margin:0 0 0 0; paddin:0 0 0 0; width:20%; float:left; }
.size-25{ margin:0 0 0 0; paddin:0 0 0 0; width:25%; float:left; }
.size-30{ margin:0 0 0 0; paddin:0 0 0 0; width:30%; float:left; }
.size-33{ margin:0 0 0 0; paddin:0 0 0 0; width:33.3333333%; float:left; }
.size-40{ margin:0 0 0 0; paddin:0 0 0 0; width:40%; float:left; }
.size-50{ margin:0 0 0 0; paddin:0 0 0 0; width:50%; float:left; }
.size-60{ margin:0 0 0 0; paddin:0 0 0 0; width:60%; float:left; }
.size-67{ margin:0 0 0 0; paddin:0 0 0 0; width:66.7777777%; float:left; }
.size-70{ margin:0 0 0 0; paddin:0 0 0 0; width:70%; float:left; }
.size-75{ margin:0 0 0 0; paddin:0 0 0 0; width:75%; float:left; }
.size-80{ margin:0 0 0 0; paddin:0 0 0 0; width:80%; float:left; }
.size-90{ margin:0 0 0 0; paddin:0 0 0 0; width:90%; float:left; }
.size-100{ margin:0 0 0 0; paddin:0 0 0 0; width:100%; float:left; }



/* METRO STYLE */
.metro{ color:#fff; }
.metro.orange{
background: rgb(255,159,63); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjhlMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,159,63,1) 0%, rgba(255,142,50,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,159,63,1)), color-stop(100%,rgba(255,142,50,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,159,63,1) 0%,rgba(255,142,50,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,159,63,1) 0%,rgba(255,142,50,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,159,63,1) 0%,rgba(255,142,50,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,159,63,1) 0%,rgba(255,142,50,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f3f', endColorstr='#ff8e32',GradientType=0 ); /* IE6-8 */

}

.metro.green{
background: rgb(156,191,53); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljYmYzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MGJhMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(156,191,53,1) 0%, rgba(144,186,18,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,191,53,1)), color-stop(100%,rgba(144,186,18,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(156,191,53,1) 0%,rgba(144,186,18,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(156,191,53,1) 0%,rgba(144,186,18,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(156,191,53,1) 0%,rgba(144,186,18,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(156,191,53,1) 0%,rgba(144,186,18,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cbf35', endColorstr='#90ba12',GradientType=0 ); /* IE6-8 */
}

.metro.blue{
background: rgb(94,166,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlYTZlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjhlZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(94,166,237,1) 0%, rgba(47,142,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,166,237,1)), color-stop(100%,rgba(47,142,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(94,166,237,1) 0%,rgba(47,142,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(94,166,237,1) 0%,rgba(47,142,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(94,166,237,1) 0%,rgba(47,142,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(94,166,237,1) 0%,rgba(47,142,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea6ed', endColorstr='#2f8eed',GradientType=0 ); /* IE6-8 */}


.metro.red{

background: rgb(255,84,68); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjMyMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,84,68,1) 0%, rgba(255,50,50,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,84,68,1)), color-stop(100%,rgba(255,50,50,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,84,68,1) 0%,rgba(255,50,50,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,84,68,1) 0%,rgba(255,50,50,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,84,68,1) 0%,rgba(255,50,50,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,84,68,1) 0%,rgba(255,50,50,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5444', endColorstr='#ff3232',GradientType=0 ); /* IE6-8 */
}
/* Blog */

.metro.gray{
background: rgb(150,150,150); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2OTY5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjZiNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(150,150,150,1) 0%, rgba(107,107,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,150,150,1)), color-stop(100%,rgba(107,107,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(107,107,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(107,107,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(107,107,107,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(150,150,150,1) 0%,rgba(107,107,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#6b6b6b',GradientType=0 ); /* IE6-8 */
}

.metro.purple{
background: rgb(229,112,231); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1NzBlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2M4NWVjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhODQ5YTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(229,112,231,1) 0%, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,112,231,1)), color-stop(47%,rgba(200,94,199,1)), color-stop(100%,rgba(168,73,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-8 */
}

.metro.pink{
background: rgb(255,89,174); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTlhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjNmYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,89,174,1) 0%, rgba(255,63,162,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,89,174,1)), color-stop(100%,rgba(255,63,162,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,89,174,1) 0%,rgba(255,63,162,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,89,174,1) 0%,rgba(255,63,162,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,89,174,1) 0%,rgba(255,63,162,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,89,174,1) 0%,rgba(255,63,162,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff59ae', endColorstr='#ff3fa2',GradientType=0 ); /* IE6-8 */
}

.metro.silver{
background: rgb(252,252,252); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(239,239,239,1) 47%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(47%,rgba(239,239,239,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(239,239,239,1) 47%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(239,239,239,1) 47%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(239,239,239,1) 47%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(239,239,239,1) 47%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
color:#444;
}



/* BUTTONS */

.button{ 

background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

border:1px solid #ccc; 

}
a.button{ color:#277BF3; }

.button.active{ 
background: rgb(73,155,234); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-8 */
color:#fff; border:1px solid rgb(33,115,194); 

}

.button.caution{
background: rgb(252,156,22); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjOWMxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjZiMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(252,156,22,1) 0%, rgba(255,107,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,156,22,1)), color-stop(100%,rgba(255,107,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,156,22,1) 0%,rgba(255,107,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,156,22,1) 0%,rgba(255,107,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,156,22,1) 0%,rgba(255,107,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,156,22,1) 0%,rgba(255,107,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc9c16', endColorstr='#ff6b0f',GradientType=0 ); /* IE6-8 */

color:#fff; border:1px solid rgb(202,106,5); 

}


.button.danger{
background: rgb(255,48,25); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-8 */

color:#fff; border:1px solid rgb(205,8,2); 

}



.button.okay{ 

	background: rgb(160,193,67); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwYzE0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2N2EzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(160,193,67,1) 0%, rgba(103,163,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,193,67,1)), color-stop(100%,rgba(103,163,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(160,193,67,1) 0%,rgba(103,163,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(160,193,67,1) 0%,rgba(103,163,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(160,193,67,1) 0%,rgba(103,163,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(160,193,67,1) 0%,rgba(103,163,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0c143', endColorstr='#67a300',GradientType=0 ); /* IE6-8 */
	color:#fff; border:1px solid rgb(122,154,17);

}

.button:hover{ 

	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
	color:#333; border:1px solid #999; 

}

