<div class="tiles">
	<div class="size-100 shaded">
		<div class="" template="main_banner">
		Carregando ...
		</div>
	</div>
</div>

<div class="tiles">
	<div class="size-20 shaded">
		<div class="padding" template="main_menu">
		Carregando ...
		</div>
	</div>
	<div class="size-80 shaded">
		<div class="" template="main_products">
		Carregando ...
		</div>
	</div>
</div>
