/* font-face */
@font-face {
font-family: "font-slim";
src:url("Hagin Caps Thin.otf") format('truetype');
}

@font-face {
font-family: "font-gotham";
src:url("Gotham Nights.ttf") format('truetype');
}

@font-face {
font-family: "xupiscoBlack";
src:url("din-black.ttf") format('truetype');
}


body{ background:#fff; font-family:"Sans"; color:#292929; font-size:12px;}

.screen-1024{ width:990px; }

ul{ list-style-type: none;  margin:0 0 0 0; padding:0 0 0 0; }
ul li{ margin:0 0 0 0; padding:0 0 0 0; }
h1{ font-weight:normal;  margin:0 0 0 0; padding:0 0 0 0; font-size:24px; font-weight:bold; line-height:1.2; }
h2{ font-weight:normal;  margin:0 0 0 0; padding:0 0 0 0; font-size:14px; line-height:1.2;  }
a{cursor:pointer; color:#292929; }
a:hover{ text-decoration:none; color:#292929;   }

input,select,textarea,button{ border:1px solid #ccc; background:#dddddd;}
input[name=search]{ background:#ffffff; }
.hover{}
.hover:hover{ opacity:0.75; }

.shadow-hover{}
.shadow-hover:hover{ box-shadow: inset 0px 0px 15px #000; -o-box-shadow: inset 0px 0px 15px #000; -webkit-box-shadow: inset 0px 0px 15px #000; -moz-box-shadow:inset 0px 0px 15px #000; }

.style1{ background:#f0f0f0; }



.bg-yellow{background:white url(../img/yellow.jpg) center repeat;}

.font-slim{font-family:"font-slim";}
.pt12{font-size:12px;}
.pt14{font-size:14px;}
.pt16{font-size:16px;}
.pt18{font-size:18px;}
.pt22{font-size:22px;}
.pt44{font-size:44px;}
.pt114{font-size:114px;}

.menu{ margin-left:23px; }
.menu-link{ margin-top:-10px; }

